<!-- Tinder Screen - refer to tinder.scss -->
<ion-view view-title="Tinder Screen" hide-nav-bar="true">
  <ion-content scroll="false" class="rubyonic-pane walkthrough-screen">

  <!-- Custom Navbar -->
  <!-- <div class="bar bar-ruby-header bar-transparent">
    <button class="button ruby-button-clear icon ion-navicon brand-base-text-color" menu-toggle="left">
    	<span class="new-notification-bubble"></span>
    </button>
    <h1 class="title brand-base-text-color">Tinder Style 4</h1>
  </div> -->
  <!-- End Custom Navbar -->
	
	<!-- Swipe Card Section -->
	<ion-slide-box on-slide-changed="slideChanged(index)" class="animate-bg-{{slideIndex}}">

            <!-- Slide -->
            <ion-slide>
              <h1 class="slide-intro-text helvetica-font">Waklthrough Text</h1>
              <div class="slider-img-logo">
                <img src="http://placehold.it/360x400">
              </div>
              <h3 class="slide-intro-text helvetica-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, at!</h3>
            </ion-slide>

            <!-- Slide -->
            <ion-slide>
              <h1 class="slide-intro-text helvetica-font">Waklthrough Text</h1>
              <div class="slider-img-logo">
                <img src="http://placehold.it/360x400">
              </div>
              <h3 class="slide-intro-text helvetica-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, at!</h3>
            </ion-slide>

            <!-- Slide -->
            <ion-slide>
              <h1 class="slide-intro-text helvetica-font">Waklthrough Text</h1>
              <div class="slider-img-logo">
                <img src="http://placehold.it/360x400">
              </div>
              <h3 class="slide-intro-text helvetica-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, at!</h3>
            </ion-slide>

            <!-- Slide -->
            <ion-slide>
              <h1 class="slide-intro-text helvetica-font">Waklthrough Text</h1>
              <div class="slider-img-logo">
                <img src="http://placehold.it/360x400">
              </div>
              <h3 class="slide-intro-text helvetica-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, at!</h3>
            </ion-slide>            
          </ion-slide-box>
  </ion-content>
</ion-view>
