<!-- Style file: scss/premium-one/chat.scss -->
<ion-view view-title="Samson Nikolai">
<ion-content>
  <div class="app-chat padding">
          <div class="padding-vertical">
            <!-- Incoming Message -->
            <div class="app-chat--message receiving">
              <img src="http://placehold.it/60x60" alt="" class="receiver-profile-pic">
              <img src="http://placehold.it/300x150" class="media-attachment">
              <p>Hi Sandra. Here’s the picture we spoke of. I sure can’t wait to get there in full swing!</p>
              <h6>Recieved 2 minutes ago</h6>
            </div>

            <!-- Outgoing Message -->
            <div class="app-chat--message sent">
              <p>Its great! I love it. I’ll take it over from here.</p>
              <h6>Sent 2 minutes ago</h6>
            </div>

            <!-- Incoming Message -->
            <div class="app-chat--message receiving">
              <img src="http://placehold.it/60x60" alt="" class="receiver-profile-pic">
              <img src="http://placehold.it/300x150" class="media-attachment">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus rerum delectus harum temporibus perferendis enim</p>
              <h6><ion-icon name="checkbox"></ion-icon> Sent 2 minutes ago</h6>
            </div>


          </div>
        </div>
</ion-content>

<!-- Text input section with side buttons -->
<div class="bar bar-footer chat-bar">
  <button class="button button-clear button-icon ion-android-attach"></button>
  <div class="title">
    <input type="text" placeholder="enter message here">
  </div>
  <button class="button button-clear button-icon ion-android-send"></button>
</div>

</ion-view>
